@media (min-width: 992px) and (max-width: 1279px) {
    h1 {
      font-size: 5.5vw;
    }
    h2 {
      font-size: 3.8vw;
    }
    h3 {
      font-size: 2vw;
    }
    h4 {
      font-size: 1.8vw;
    }
    .main-container {
      padding-top: 2.5vw;
      padding-left: 8vw;
      margin-bottom: 2vw;
    }
    .main-logo {
      margin-bottom: 7vw;
    }
    .main-logo img {
      width: 8vw;
    }
    .main-info {
      display: flex;
    }
    .main-info-content {
      margin-right: 3vw;
    }
    .main-info-content p {
      font-size: 1.5vw;
    }
    .main-info-content img {
      width: 1.7vw;
      margin-right: 1vw;
    }
    .movie {
      margin-bottom: 8vw;
    }
    .movie-container {
      padding-left: 8vw;
      padding-left: 170px;
    }
    .movie-main {
      display: flex;
      margin-bottom: 6vw;
    }
    .movie-main-content {
      margin-right: 10vw;
    }
    .movie-main-content h1 {
      width: 44vw;
      margin-bottom: 3vw;
    }
    .movie-main-content p {
      font-size: 1.5vw;
      width: 31vw;
    }
    .movie-main-img {
      margin-right: 17vw;
    }
    .movie-main-img img {
      width: 22vw;
    }
    .movie-main {
      display: flex;
      justify-content: center;
      padding-right: 15vw;
    }
    .movie-main-comment {
      width: 34vw;
      height: 14vw;
      color: #FFFFFF;
      background: #1E4681;
      border-radius: 0.3vw;
    }
    .content {
      font-family: Roboto Slab;
      font-style: normal;
      font-weight: normal;
      width: 32vw;
      padding: 1.4vw 1.5vw 0 2vw;
      font-size: 1.7vw;
    }
    .author {
      font-size: 1.4vw;
      line-height: 130%;
      padding-right: 1.2vw;
      margin-top: 0.4vw;
      text-align: right;
    }
    .course {
      margin-bottom: 12vw;
    }
    .course-container {
      padding-left: 8vw;
    }
    .course-header {
      margin-bottom: 5.5vw;
    }
    .course-main {
      display: flex;
      margin-bottom: 5.2vw;
    }
    .course-main-content {
      width: 46vw;
      margin-right: 14vw;
    }
    .course-main-content p {
      font-size: 1.7vw;
    }
    .course-main-content p.course-main-content-first {
      margin-bottom: 2.8vw;
    }
    .course-main-img {
      display: flex;
      justify-content: center;
      padding-right: 10vw;
    }
    .cameraman {
      width: 21.8vw;
    }
    .course-footer-container {
      display: flex;
    }
    .course-footer-img {
      width: 16vw;
      margin-right: 13vw;
    }
    .course-footer-content {
      display: flex;
      align-items: center;
    }
    .course-footer-content-box {
      margin-right: 6.6vw;
    }
    .course-footer-content-box h4 {
      margin-bottom: 0.5vw;
    }
    .course-footer-content-box p {
      width: 10.5vw;
      font-size: 1.3vw;
    }
  }
  @media (min-width: 1280px) {
    h1 {
      font-size: 5.5vw;
    }
    h2 {
      font-size: 3.8vw;
    }
    h3 {
      font-size: 2vw;
    }
    h4 {
      font-size: 1.8vw;
    }
    .main-container {
      padding-top: 2.5vw;
      padding-left: 8vw;
      margin-bottom: 2vw;
    }
    .main-logo {
      margin-bottom: 7vw;
    }
    .main-logo img {
      width: 8vw;
    }
    .main-info {
      display: flex;
    }
    .main-info-content {
      margin-right: 3vw;
    }
    .main-info-content p {
      font-size: 1.5vw;
    }
    .main-info-content img {
      width: 1.7vw;
      margin-right: 1vw;
    }
    .movie {
      margin-bottom: 8vw;
    }
    .movie-container {
      padding-left: 8vw;
      padding-left: 240px;
    }
    .movie-main {
      display: flex;
      margin-bottom: 6vw;
    }
    .movie-main-content {
      margin-right: 10vw;
    }
    .movie-main-content h1 {
      width: 44vw;
      margin-bottom: 3vw;
    }
    .movie-main-content p {
      font-size: 1.5vw;
      width: 31vw;
    }
    .movie-main-img {
      margin-right: 17vw;
    }
    .movie-main-img img {
      width: 22vw;
    }
    .movie-main {
      display: flex;
      justify-content: center;
      padding-right: 15vw;
    }
    .movie-main-comment {
      width: 34vw;
      height: 14vw;
      color: #FFFFFF;
      background: #1E4681;
      border-radius: 0.3vw;
    }
    .content {
      font-family: Roboto Slab;
      font-style: normal;
      font-weight: normal;
      width: 32vw;
      padding: 1.4vw 1.5vw 0 2vw;
      font-size: 1.7vw;
    }
    .author {
      font-size: 1.4vw;
      line-height: 130%;
      padding-right: 1.2vw;
      margin-top: 0.4vw;
      text-align: right;
    }
    .course {
      margin-bottom: 12vw;
    }
    .course-container {
      padding-left: 8vw;
    }
    .course-header {
      margin-bottom: 5.5vw;
    }
    .course-main {
      display: flex;
      margin-bottom: 5.2vw;
    }
    .course-main-content {
      width: 46vw;
      margin-right: 14vw;
    }
    .course-main-content p {
      font-size: 1.7vw;
    }
    .course-main-content p.course-main-content-first {
      margin-bottom: 2.8vw;
    }
    .course-main-img {
      display: flex;
      justify-content: center;
      padding-right: 10vw;
    }
    .cameraman {
      width: 21.8vw;
    }
    .course-footer-container {
      display: flex;
    }
    .course-footer-img {
      width: 16vw;
      margin-right: 13vw;
    }
    .course-footer-content {
      display: flex;
      align-items: center;
    }
    .course-footer-content-box {
      margin-right: 6.6vw;
    }
    .course-footer-content-box h4 {
      margin-bottom: 0.5vw;
    }
    .course-footer-content-box p {
      width: 10.5vw;
      font-size: 1.3vw;
    }
  }
  .form-card h3 {
    padding-bottom: 9px;
  }
  .seventh-part {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding:0px 60px ;
    height: 500px;
    background: #9DC9C8;
  }
  
  .seventh-part .first-section {
    font-size: 55px;
    font-weight: 700;
  }
  
  .seventh-part .second-section {
    display: flex;
    flex-direction: column;
  
  }
  
  .seventh-part .second-section :nth-child(1) {
    font-size: 25px;
    font-weight: 400;
  }
  
  .seventh-part .second-section span {
    font-size: 80px;
    font-weight: 700;
  }
  
  .seventh-part .third-section {
    display: flex;
    gap: 100px;
  }
  
  .seventh-part .third-section div p {
    font-size: 25px;
    font-weight: 600;
  }
  
  .seventh-part .third-section div span {
    font-size: 18px;
    font-weight: 400;
  }
  